.button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 30px auto; /* Merkezlemek için sabit değerler yerine auto kullan */
  max-width: 40%; /* Genişliği sınırlamak için max-width ekle */
}

  
  .button-container .btn {
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
  }
  
  .button-container .btn.active {
    background-color: #002750;
  }
  
  .chart-container {
    width: 100%;
    max-width: 1000px; /* Maksimum genişliği belirle */
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  