.button {
    padding: 12px 80px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-button {
    background-color: #084586; /* Mavi renk */
    margin-right: 20px; /* Sağdan boşluk */
    
  }
  
  .home-button:hover {
    background-color: #0963c5; /* Daha koyu mavi renk */
    transform: translateY(-2px);
  }
  
  .about-button {
    background-color: #000000; /* Yeşil renk */
    margin-left: 20px; /* Sağdan boşluk */
  }
  
  .about-button:hover {
    background-color: #212622; /* Daha koyu yeşil renk */
    transform: translateY(-2px);
  }
  